<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
</head>
<body>
<section class="layout-content" layout:fragment="corpo">

    <nav class="navbar navbar-expand-md bg-light">
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><i class="oi oi-caret-right"></i>
                    <span th:text="#{proposta.cadastrar.label}"></span></li>
            </ul>
            <a class="btn btn-primary btn-md" th:href="@{/proposta/listar}" role="button">
                <span class="oi oi-spreadsheet" title="Listar" aria-hidden="true"></span>
                <span th:text="#{proposta.listar.label}"></span>
            </a>
        </div>
    </nav>

    <div class="container" id="cadastro">

        <div th:replace="~{fragments/alert}"></div>

        <form th:action="@{/proposta/salvar}" th:object="${proposta}" method="POST">

            <input type="hidden" th:field="*{veiculo.id}" />

            <div class="form-row">

                <div class="form-group col-md-12">
                    <label th:text="#{veiculos.modelo.label}"></label>
                    <input type="text" class="form-control"  th:field="*{veiculo.modelo}" readonly />
                </div>

                <div class="form-group col-md-12">
                    <label th:text="#{veiculos.chassi.label}"></label>
                    <input type="text" class="form-control"  th:field="*{veiculo.chassi}" readonly />
                </div>

                <div class="form-group col-md-12">
                    <label th:text="#{veiculos.ano.label}"></label>
                    <input type="text" class="form-control"  th:field="*{veiculo.ano}" readonly />
                </div>

                <div class="form-group col-md-12">
                    <label th:text="#{veiculos.placa.label}"></label>
                    <input type="text" class="form-control"  th:field="*{veiculo.placa}" readonly />
                </div>


                <div class="form-group col-md-12">
                    <label th:text="#{proposta.valor.label}" for="valor"></label>
                    <input type="number" class="form-control" id="valor" th:field="*{valor}"
                           th:readonly="${#authorization.expression('hasRole(''LOJA'')')}"
                           th:classappend="${#fields.hasErrors('valor')} ? is-invalid" />
                    <div class="invalid-feedback">
                        <span th:errors="*{valor}"></span>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <label th:text="#{proposta.condicoesPagamento.label}" for="condicoesPagamento"></label>
                    <textarea class="form-control" id="condicoesPagamento" th:field="*{condicoesPagamento}" rows="3"
                        th:readonly="${#authorization.expression('hasRole(''LOJA'')')}"
                        th:classappend="${#fields.hasErrors('valor')} ? is-invalid"> </textarea>
                    <div class="invalid-feedback">
                        <span th:errors="*{condicoesPagamento}"></span>
                    </div>
                </div>



            </div>

            <input type="hidden" id="id" th:field="*{id}" />
            <button type="submit" th:text="#{button.enviar.proposta.label}" class="btn btn-primary btn-sm"></button>

        </form>
    </div>
</section>
</body>
</html>
